.btn-secondary {
    background-color: transparent !important;
    color: var(--primary-color) !important;
    border: 2px solid var(--primary-color) !important;
    outline: none !important;
    &:active {
        background-color: transparent !important;
        color: var(--primary-color) !important;
        border: 2px solid var(--primary-color) !important;
        outline: none !important;
    }
    &:focus {
        color: white !important;
        background-color: var(--primary-color) !important;
        outline: none !important;
    }
    &:hover {
        color: white !important;
        background-color: var(--primary-color) !important;
        outline: none !important;
    }
}
.btn-primary {
    color: #fff !important;
    background: var(--primary-color) !important;
    border: 2px solid var(--primary-color) !important;
    outline: none !important;
    box-shadow: none !important;
    &:active {
        color: #fff !important;
        background: var(--primary-color) !important;
        outline: none !important;
        box-shadow: none !important;
    }
    &:hover {
        color: #fff !important;
        background: var(--primary-dark) !important;
        border-color: var(--primary-dark)!important;
    }
    &:focus {
        color: #fff !important;
        background: var(--primary-dark) !important;
    }
}
.btn-third {
    background-color: transparent !important;
    color: #fff !important;
    border: 2px solid #fff !important;
    outline: none !important;
    &:active {
        background-color: transparent !important;
        color: #fff !important;
        border: 2px solid #fff !important;
        outline: none !important;
    }
    &:hover {
        color: var(--primary-dark) !important;
        background-color: #fff !important;
        outline: none !important;
    }
    &:focus {
        color: var(--primary-dark) !important;
        background-color: #fff !important;
        outline: none !important;
    }
}
