header {
	height: 500px;
	width: 100%;
	background: url("../assets/back_home.jpg");
	background-size: cover;
	background-position: center;
	color: white;
	display: flex;
	align-items: center;
	div {
		opacity: 0.9;
		display: flex;
		width: 90%;
		margin-left: 5%;
	}
}
.wave {
	position: absolute;
	left: 0;
	right: 0;
	top: 310px;
	z-index: 200;
	height: 200px;
	+ {
		.wave {
			z-index: 2;
		}
	}
}
#header-title-text {
	border-bottom: 2px solid transparent;
	transition: 0.3s all ease-out;
	span {
		border-bottom: 2px solid transparent;
		transition: 0.3s all ease-out;
	}
}
.animation-for-header-home {
	position: relative;
	z-index: 2;
	&::after {
		content: "";
		height: 100%;
		width: 0px;
		z-index: -1;
		transition: all ease-out 0.2s;
		background: var(--primary-color)!important;
		position: absolute;
		left: 0;
		bottom: 0;
		animation: ease-out 2s textingAnimation;
	}
}
.animation-for-header {
	position: relative;
	z-index: 2;
	&::after {
		content: "";
		height: 100%;
		width: 100%;
		z-index: -1;
		transition: all ease-out 0.2s;
		background: var(--primary-color);
		position: absolute;
		left: 0;
		bottom: 0;
		animation: ease-out 1s lastLetterAnimationForHeader;
	}
}
