{%extends "business/dashboard_base.html"%} {%block content%}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <p class="text-muted mb-4 font-13">Download as <a onclick="table2csv(this,1)" data-table="datatable" href="#">CSV</a></p>
                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%">
                    {%block table%}{%endblock%}
                </table>
                {%block bonusScript%} {%endblock%}
            </div>
        </div>
    </div>
</div>
{%endblock%} {%block css%} {%assets filters="cssmin",output="bundles/template_database_plugin_bundle.css",
"template/plugins/datatables/buttons.bootstrap4.min.css","template/plugins/datatables/dataTables.bootstrap4.min.css"%}
<link rel="stylesheet" href="{{ASSET_URL}}" />
{%endassets%} {%endblock%} {%block scripts%} {%assets filters='jsmin',output="bundles/template_database_plugin_bundle.js", "template/plugins/datatables/jquery.dataTables.min.js",
"template/plugins/datatables/dataTables.bootstrap4.min.js", "https://yunisdev.github.io/table2csv/table2csv.min.js", "js/dashboard/admin/database.js" %}
<script src="{{ASSET_URL}}"></script>
{%endassets%} {%endblock%} {%block bodyend%}
<script>
    $(document).ready(() => {
        $("#datatable").DataTable(datatable_options);
    });
</script>
{%endblock%}
