{%extends "business/inbox/inbox_base.html"%} {%block table%}
<thead>
    <tr>
        <th>ID</th>
        <th>By</th>
        <th>Message</th>
        <th>Product</th>
        <th>Done</th>
        <th>Date</th>
        <th>Actions</th>
    </tr>
</thead>

<tbody>
    {%for i in data["body"]%}
    <tr key="{{i.id}}">
        <td>{{i.id}}</td>
        <td>{{data['bonus']['OrderedBy'][i.id]}}</td>
        <td>{{i.orderText}}</td>
        <td>{{i.orderedProduct}}</td>
        <td>
            {%if i.done%}
            <span class="badge badge-soft-success">Done</span>
            {%else%}
            <span class="badge badge-soft-danger">Not done</span>
            {%endif%}
        </td>
        <td>{{i.createdAt}}</td>
        <td>
            <a href="#" class="update-row-btn"><i class="far fa-edit text-info mr-1"></i></a>
            <a href="#" class="delete-row-btn"><i class="far fa-trash-alt text-danger"></i></a>
        </td>
    </tr>
    {%endfor%}
</tbody>
{%endblock%} {%block bodyend%} {{super()}}
<script defer src="/js/dashboard/business/order.js"></script>
{%endblock%}
