.chatbox {
    width: 100%;
    position: relative;
    overflow: hidden !important;
    height: calc(100% - 68px);
    border-radius: 20px;
    border: 5px solid var(--primary-dark);
    background-color: var(--primary-dark);
    .chat_body {
        height: calc(100% - 70px);
        width: 100%;
        background-color: white;
        border-radius: 20px 20px 0 0;
        padding: 10px;
        flex-grow: 1;
        width: 100%;
        overflow-y: scroll;
        .chat_message_part {
            width: 100%;
            float: left;
            padding: 5px 0;

            .chat_message.me {
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: calc(100% - 1px);
                    z-index: 999999;
                    width: 0;
                    height: 0;
                    border-bottom: 10px solid var(--primary-dark);
                    border-right: 10px solid transparent;
                }
                * {
                    color: white;
                }
                span {
                    font-size: 11px;
                }
                p {
                    font-size: 16px;
                }
                background-color: var(--primary-dark);
                padding: 5px 10px;
                float: right;
                border-radius: 10px 10px 0 10px;
                width: fit-content;
                min-width: 100px;
            }
            .chat_message.you {
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    right: calc(100% - 1px);
                    z-index: 999999;
                    width: 0;
                    height: 0;
                    border-bottom: 10px solid #ccc;
                    border-left: 10px solid transparent;
                }
                * {
                    color: black;
                }
                span {
                    font-size: 11px;
                }
                p {
                    font-size: 16px;
                }
                background-color: #ccc;
                padding: 5px 10px;
                float: left;
                border-radius: 10px 10px 10px 0px;
                width: fit-content;
                min-width: 150px;
            }
        }
    }
    .chat_inputs {
        width: 100% !important;
        background-color: var(--primary-dark);
        height: 60px;
        border-radius: 20px 20px 0px 0px;
        padding:5px 10px;
        position: absolute;
        bottom: 0;
        left: 0;
        margin: 0 !important;
        flex-shrink: 0;
        form {
            width: 100%;
        }
        input {
            width: 100% !important;
            padding: 10px;
            border-radius: 20px;
            border: none;
        }
    }
}
