{%extends "bases/page.html"%} {%block header%}
<header style="background-position-y: 0px">
    <div style="margin-top: 0px; opacity: 1">
        <h1 id="header-title-text"><span class="texting-word animation-for-header-home">Pricing</span></h1>
    </div>
</header>
{%endblock%} {%block content%}
<div>
    <h1>Plans</h1>
    <section class="pricing py-5">
        <div class="container">
            <div class="row">
                
            </div>
        </div>
    </section>
</div>
{%endblock%}
