{%extends "admin/database/database_base.html"%} {%block table%}
<thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>country</th>
        <th>createdAt</th>
        <th>updatedAt</th>
        <th>Actions</th>
    </tr>
</thead>

<tbody>
    {%for i in data["body"]%}
    <tr key="{{i.id}}">
        <td>{{i.id}}</td>
        <td>
            {{i.name}}
            <a target="_blank" href="https://www.google.com/maps/place/{{i.name+','+data['bonus']['Country'][i.id]}}/"><i class="fas fa-map-marker-alt"></i></a>
        </td>
        <td>
            <a href="/dashboard/admin/database/countries/?sql=id%3D{{i.country}}" data-toggle="tooltip-custom" data-placement="top" title="" data-original-title="{{data['bonus']['Country'][i.id]}}">
                {{i.country}}
            </a>
        </td>
        <td>{{i.createdAt}}</td>
        <td>{{i.updatedAt}}</td>
        <td>
            <a href="#" class="update-row-btn"><i class="far fa-edit text-info mr-1"></i></a>
            <a href="#" class="delete-row-btn"><i class="far fa-trash-alt text-danger"></i></a>
        </td>
    </tr>
    {%endfor%}
</tbody>
{%endblock%} {%block addRowInputs%}
<div class="form-group">
    <label for="name">name</label>
    <input required type="text" class="form-control" name="name" id="name" />
</div>
<div class="form-group">
    <label for="country">country</label>
    <select class="form-control form-control-sm" required name="country" id="country">
        <option value="" hidden="">Select country:</option>
    </select>
    <script defer>
        var select = document.querySelector('select[name="country"]');
        fetch("/get-countries")
            .then((res) => res.json())
            .then(({ data }) => {
                for (var i = 0; i < data.length; i++)
                    select.insertAdjacentHTML(
                        "beforeend",
                        `
                <option value="${data[i]}">${data[i]}</option>
                `
                    );
            });
    </script>
</div>
{%endblock%}
