{%extends "admin/dashboard_base.html"%} {%block content%}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <button id="show-query" class="btn btn-primary mb-4">Show query</button>
                <h4 class="mt-0 header-title d-none" id="raw-sql-query" style="text-transform: none">{{data["query"]}}</h4>
                <p class="text-muted mb-4 font-13">Download as <a onclick="table2csv(this,1)" data-table="datatable" href="#">CSV</a></p>
                <form method="GET" class="font-12 mb-4"><input name="sql" placeholder="Enter manual SQL condition..." class="form-control" /></form>
                <table id="datatable" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%">
                    {%block table%}{%endblock%}
                </table>
                <button id="add-row-btn" class="btn btn-primary mb-4">Add Row</button>
                <form method="POST" id="add-row" class="d-none" enctype="multipart/form-data">
                    <h3>Add Row</h3>
                    {%block addRowInputs%} {%endblock%}
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
                {%block bonusScript%}
                {%endblock%}
            </div>
        </div>
    </div>
</div>
{%endblock%} {%block css%} {%assets filters="cssmin",output="bundles/template_database_plugin_bundle.css",
"template/plugins/datatables/buttons.bootstrap4.min.css","template/plugins/datatables/dataTables.bootstrap4.min.css"%}
<link rel="stylesheet" href="{{ASSET_URL}}" />
{%endassets%} {%endblock%} {%block scripts%} {%assets filters='jsmin',output="bundles/template_database_plugin_bundle.js", "template/plugins/datatables/jquery.dataTables.min.js",
"template/plugins/datatables/dataTables.bootstrap4.min.js", "https://yunisdev.github.io/table2csv/table2csv.min.js", "js/dashboard/admin/database.js" %}
<script src="{{ASSET_URL}}"></script>
{%endassets%} {%endblock%} {%block bodyend%}
<script>
    $(document).ready(() => {
        $("#datatable").DataTable(datatable_options);
    });
</script>
<script>
    document.querySelector("#show-query").addEventListener("click", () => {
        document.querySelector("#raw-sql-query").classList.toggle("d-none");
    });
</script>
{%endblock%}
