{%extends "admin/database/database_base.html"%} {%block table%}
<thead>
    <tr>
        <th>id</th>
        <th>user</th>
        <th>address</th>
        <th>city</th>
        <th>country</th>
        <th>phone</th>
        <th>email</th>
        <th>createdAt</th>
        <th>updatedAt</th>
        <th>Actions</th>
    </tr>
</thead>

<tbody>
    {%for i in data["body"]%}
    <tr key="{{i.id}}">
        <td>{{i.id}}</td>
        <td>
            <a href="/dashboard/admin/database/users/?sql=id%3D{{i.user}}" data-toggle="tooltip-custom" data-placement="top" title="" data-original-title="{{data['bonus']['User'][i.id]}}"> {{i.user}} </a>
        </td>
        <td>{{i.address}}</td>
        <td>
            <a href="/dashboard/admin/database/cities/?sql=id%3D{{i.city}}" data-toggle="tooltip-custom" data-placement="top" title="" data-original-title="{{data['bonus']['City'][i.id]}}"> {{i.city}} </a>
        </td>
        <td>
            <a href="/dashboard/admin/database/countries/?sql=id%3D{{i.country}}" data-toggle="tooltip-custom" data-placement="top" title="" data-original-title="{{data['bonus']['Country'][i.id]}}"> {{i.country}} </a>
        </td>
        <td>{{i.phone}}</td>
        <td><a href="mailto:{{i.email}}">{{i.email}}</a></td>
        <td>createdAt</td>
        <td>updatedAt</td>
        <td>
            <a href="#" class="update-row-btn"><i class="far fa-edit text-info mr-1"></i></a>
            <a href="#" class="delete-row-btn"><i class="far fa-trash-alt text-danger"></i></a>
        </td>
    </tr>
    {%endfor%}
</tbody>
{%endblock%}
