{%extends "admin/database/database_base.html"%} {%block table%}
<thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>createdAt</th>
        <th>updatedAt</th>
        <th>Actions</th>
    </tr>
</thead>

<tbody>
    {%for i in data["body"]%}
    <tr key="{{i.id}}">
        <td>{{i.id}}</td>
        <td>{{i.name}}</td>
        <td>{{i.createdAt}}</td>
        <td>{{i.updatedAt}}</td>
        <td>
            <a href="#" class="update-row-btn"><i class="far fa-edit text-info mr-1"></i></a>
            <a href="#" class="delete-row-btn"><i class="far fa-trash-alt text-danger"></i></a>
        </td>
    </tr>
    {%endfor%}
</tbody>
{%endblock%}
