{%extends "admin/database/database_base.html"%} {%block table%}
<thead>
    <tr>
        <th>id</th>
        <th>reporter</th>
        <th>header</th>
        <th>body</th>
        <th>createdAt</th>
        <th>updatedAt</th>
        <th>Actions</th>
    </tr>
</thead>

<tbody>
    {%for i in data["body"]%}
    <tr key="{{i.id}}">
        <td>{{i.id}}</td>
        <td>
            <a href="/dashboard/admin/database/users/?sql=id%3D{{i.reporter}}" data-toggle="tooltip-custom" data-placement="top" title="" data-original-title="{{data['bonus']['Reporter'][i.id]}}"> {{i.reporter}} </a>
        </td>
        <td>{{i.header}}</td>
        <td>{{i.body}}</td>
        <th>{{i.createdAt}}</th>
        <th>{{i.updatedAt}}</th>
        <td>
            <a href="#" class="update-row-btn"><i class="far fa-edit text-info mr-1"></i></a>
            <a href="#" class="delete-row-btn"><i class="far fa-trash-alt text-danger"></i></a>
        </td>
    </tr>
    {%endfor%}
</tbody>
{%endblock%}
