{%extends "admin/database/database_base.html"%} {%block table%}
<thead>
    <tr>
        <th>id</th>
        <th>username</th>
        <th>password</th>
        <th>email</th>
        <th>permission</th>
        <th>fullName</th>
        <th>address</th>
        <th>phone</th>
        <th>country</th>
        <th>city</th>
        <th>brandLogoPath</th>
        <th>brandName</th>
        <th>createdAt</th>
        <th>brandProductTypes</th>
        <th>active</th>
        <th>confirmationKey</th>
        <th>confirmed</th>
        <th>Actions</th>
    </tr>
</thead>

<tbody>
    {%for i in data["body"]%}
    <tr key="{{i.id}}">
        <td>{{i.id}}</td>
        <td>{{i.username}}</td>
        <td>********</td>
        <td>{{i.email}}</td>
        <td>{{i.permission}}</td>
        <td>{{i.fullName}}</td>
        <td>{{i.address}}</td>
        <td>{{i.phone}}</td>
        <td>{{i.country}}</td>
        <td>
            <a href="#" data-toggle="tooltip-custom" data-placement="top" title="" data-original-title="{{data['bonus']['City'][i.id]}}"> 
            {{i.city}}
            </a>
        </td>
        <td>{{i.brandLogoPath}}</td>
        <td>{{i.brandName}}</td>
        <td>{{i.createdAt}}</td>
        <td>{{i.brandProductTypes}}</td>
        <td>
            <span class="badge {%if i.active%}badge-soft-success{%else%}badge-soft-danger{%endif%}">{{i.active}}</span>
        </td>
        <td>{{i.confirmationKey}}</td>
        <td>
            <span class="badge {%if i.confirmed%}badge-soft-success{%else%}badge-soft-danger{%endif%}">{{i.confirmed}}</span>
        </td>
        <td>
            <a href=""><i class="far fa-edit text-info mr-1"></i></a>
            <a href=""><i class="far fa-trash-alt text-danger"></i></a>
        </td>
    </tr>
    {%endfor%}
</tbody>
{%endblock%}
