{%extends "admin/database/database_base.html"%} {%block table%}
<thead>
    <tr>
        <th>id</th>
        <th>balance</th>
        <th>owner</th>
        <th>createdAt</th>
        <th>updatedAt</th>
        <th>Actions</th>
    </tr>
</thead>

<tbody>
    {%for i in data["body"]%}
    <tr key="{{i.id}}">
        <td>{{i.id}}</td>
        <td>$ {{i.balance}}</td>
        <td>
            <a href="#" data-toggle="tooltip-custom" data-placement="top" title="" data-original-title="{{data['bonus']['Owner'][i.id]}}"> {{i.owner}} </a>
        </td>
        <td>{{i.createdAt}}</td>
        <td>{{i.updatedAt}}</td>
        <td>
            <a href=""><i class="far fa-edit text-info mr-1"></i></a>
            <a href=""><i class="far fa-trash-alt text-danger"></i></a>
        </td>
    </tr>
    {%endfor%}
</tbody>
{%endblock%}
