.budget {
    color: black;
    display: block;
    float: left;
    .bank {
        float: left;
        width: fit-content;
    }
    h1 {
        float: left;
        height: fit-content;
        display: block;
    }
    .money-left {
        color: var(--primary-dark);
        font-weight: bold;
        float: left;
        height: fit-content;
    }
    .btns {
        width: fit-content;
        display: inline;
        float: right;
    }
}

.dashboard-body > div {
    float: left;
    display: block;
    color:black;
}

table {
    color: black !important;
    position: relative !important;
    thead {
        font-size: 23px;
        color: white;
        background-color: var(--primary-color);
        th {
            padding: 10px;
            border: 2px solid white;
        }
    }
    tbody {
        tr:nth-child(even) {
            background-color: #eee;
        }
        td {
            padding: 10px;
        }
        td.positive {
            color: green;
        }
        td.negative {
            color: red;
        }
    }
}
.create-wallet{
    text-align: center;
    h2{
        color: #aaa;
    }
    h1{
        color:var(--primary-color);
        font-weight: 900;
    }
}