.budget {
    color: black;
    display: block;
    float: left;
    .bank {
        float: left;
        width: fit-content;
    }
    h2 {
        float: left;
        height: fit-content;
        display: block;
    }
    .money-left {
        color: var(--primary-dark);
        font-weight: bold;
        float: left;
        height: fit-content;
    }
    .btns {
        width: fit-content;
        display: inline;
        float: right;
    }
}

.dashboard-body div {
    float: left;
    display: block;
    color: black;
}
.dashboard-body > div {
    width: 100%;
}
.dataTables_wrapper {
    width: 100%;
    > .row {
        width: 100%;
    }
    table {
        thead {
            tr {
                th {
                    background-color: var(--primary-color);
                    color: white;
                    border-color: var(--primary-color);
                }
            }
        }
        td.negative{
            color:red;
        }
        td.positive{
            color:green;
        }
    }
    .page-item.active .page-link {
        background-color: var(--primary-color);
        border-color: var(--primary-color);
    }
}
.create-wallet {
    text-align: center;
    h2 {
        color: #aaa;
    }
    h1 {
        color: var(--primary-color);
        font-weight: 900;
    }
}
@media (max-width: 666px) {
    .budget {
        .btns {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-bottom: 20px;
        }
        .bank {
            display: block;
            width: 100%;
            text-align: center;
            h2 {
                display: inline;
                float: none;
            }
        }
    }
}
// .dataTables_info {
//     width: 50%;
// }
// .transactions-table_wrapper{
//     width: 100%;
//     display: block;
// }
