{%extends "templates/page.html"%} {%block header%}
<header style="background-position-y: 0px">
    <div style="margin-top: 0px; opacity: 1">
        <h1 id="header-title-text"><span class="texting-word animation-for-header-home">Blog</span></h1>
    </div>
</header>
{%endblock%} {%block content%}
<div>
    <h1>Posts</h1>
    <div class="cards-div">
        {%for blogs in _blogs%}
        <div class="card-block">
            {%for blog in blogs%}
            <div class="col-md-4">
                <div class="card spec-card">
                    <img class="card-img-top" src="{{blog.image}}" alt="cardIcon" />
                    <div class="card-body" style="display: block; width: 100%; float: left"><p class="card-text">{{blog.title}}</p></div>
                </div>
            </div>
            {%endfor%}
        </div>
        {%endfor%}
    </div>
</div>

{%endblock%}
