{%extends "templates/page.html"%} {%block header%}
<header style="background-position-y: 0px">
    <div style="margin-top: 0px; opacity: 1">
        <h1 id="header-title-text"><span class="texting-word animation-for-header-home">Contact</span></h1>
    </div>
</header>
{%endblock%} {%block content%} 
<h1>Contact form</h1>
<form class="contact-form">
    <input type="text" placeholder="Full Name...">
    <input type="text" placeholder="Email...">
    <input type="text" placeholder="Title...">
    <textarea type="text" placeholder="Message..."></textarea>
    <button type="submit">Send</button>
</form>
{%endblock%}
