{%extends "dashboard_base.html"%} {%block head%}
<link rel="stylesheet" href="/css/dashboard/payments.css" />
{%endblock%} {%block body%}
<div class="col-md-6 budget">
    <h1 class="">Your Bank:</h1>
    <p class="money-left">$80.00</p>
</div>
<div class="col-md-6 list-of-payments">
    <h1>Transactions</h1>
    <table class="transactions">
        <tr>
            <th>Name</th>
            <th>Amount</th>
        </tr>
        <div class="trtions">
            <tr>
                <td>Domino's Pizza</td>
                <td class="positive">+10$</td>
            </tr>
            <tr>
                <td>Domino's Pizza</td>
                <td class="negative">-10$</td>
            </tr>
            <tr>
                <td>Domino's Pizza</td>
                <td class="positive">+10$</td>
            </tr>
            <tr>
                <td>Domino's Pizza</td>
                <td class="positive">+10$</td>
            </tr>
            <tr>
                <td>Domino's Pizza</td>
                <td class="negative">-10$</td>
            </tr>
            <tr>
                <td>Domino's Pizza</td>
                <td class="positive">+10$</td>
            </tr>
            <tr>
                <td>Domino's Pizza</td>
                <td class="negative">-10$</td>
            </tr>
            <tr>
                <td>Domino's Pizza</td>
                <td class="positive">+10$</td>
            </tr>
            <tr>
                <td>Domino's Pizza</td>
                <td class="positive">+10$</td>
            </tr>
            <tr>
                <td>Domino's Pizza</td>
                <td class="negative">-10$</td>
            </tr>
            <tr>
                <td>Domino's Pizza</td>
                <td class="positive">+10$</td>
            </tr>
            <tr>
                <td>Domino's Pizza</td>
                <td class="negative">-10$</td>
            </tr>
            <tr>
                <td>Domino's Pizza</td>
                <td class="positive">+10$</td>
            </tr>
            <tr>
                <td>Domino's Pizza</td>
                <td class="positive">+10$</td>
            </tr>
            <tr>
                <td>Domino's Pizza</td>
                <td class="negative">-10$</td>
            </tr>
        </div>
    </table>
</div>
{%endblock%}
