.messages {
  width: 300px;
  float: left;
  display: block;
  overflow-y: scroll;
  height: 85%;
  margin-right: 20px !important; }

.message {
  position: relative;
  padding: 0;
  width: 100%;
  float: left;
  background-color: white;
  position: relative;
  cursor: pointer;
  padding: 20px;
  transition: all ease-out 0.1s; }
  .message .dot {
    position: absolute;
    background-color: var(--primary-dark);
    width: 10px !important;
    height: 10px !important;
    top: calc(50% - 5px);
    right: 10px;
    border-radius: 50%; }
  .message img {
    float: left;
    border-radius: 50% !important; }
  .message:hover {
    background-color: #ccc !important; }
  .message p {
    float: left;
    font-size: 18px;
    padding-top: calc((50px - 18px) / 2);
    padding-left: 20px; }
  .message::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #ccc;
    transition: all ease-out 0.2s; }

.inbox {
  display: flex !important;
  height: calc(100vh - 150px - 40px); }

.inbox__main {
  flex-grow: 1;
  display: flex;
  flex-direction: column; }
