.budget {
  color: black;
  display: block;
  float: left; }
  .budget .bank {
    float: left;
    width: fit-content; }
  .budget h2 {
    float: left;
    height: fit-content;
    display: block; }
  .budget .money-left {
    color: var(--primary-dark);
    font-weight: bold;
    float: left;
    height: fit-content; }
  .budget .btns {
    width: fit-content;
    display: inline;
    float: right; }

.dashboard-body div {
  float: left;
  display: block;
  color: black; }

.dashboard-body > div {
  width: 100%; }

.dataTables_wrapper {
  width: 100%; }
  .dataTables_wrapper > .row {
    width: 100%; }
  .dataTables_wrapper table thead tr th {
    background-color: var(--primary-color);
    color: white;
    border-color: var(--primary-color); }
  .dataTables_wrapper table td.negative {
    color: red; }
  .dataTables_wrapper table td.positive {
    color: green; }
  .dataTables_wrapper .page-item.active .page-link {
    background-color: var(--primary-color);
    border-color: var(--primary-color); }

.create-wallet {
  text-align: center; }
  .create-wallet h2 {
    color: #aaa; }
  .create-wallet h1 {
    color: var(--primary-color);
    font-weight: 900; }

@media (max-width: 666px) {
  .budget .btns {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px; }
  .budget .bank {
    display: block;
    width: 100%;
    text-align: center; }
    .budget .bank h2 {
      display: inline;
      float: none; } }

span.badge {
  background-color: gray;
  color: white; }
  span.badge.badge-soft-success {
    background-color: green !important; }
  span.badge.badge-soft-danger {
    background-color: #ff3e3e !important; }
