.budget {
  color: black;
  display: block;
  float: left; }
  .budget .bank {
    float: left;
    width: fit-content; }
  .budget h1 {
    float: left;
    height: fit-content;
    display: block; }
  .budget .money-left {
    color: var(--primary-dark);
    font-weight: bold;
    float: left;
    height: fit-content; }
  .budget button {
    float: right;
    width: fit-content; }

.dashboard-body > div {
  float: left;
  display: block; }

table {
  color: black !important;
  position: relative !important; }
  table thead {
    font-size: 23px;
    color: white;
    background-color: var(--primary-color); }
    table thead th {
      padding: 10px;
      border: 2px solid white; }
  table tbody tr:nth-child(even) {
    background-color: #eee; }
  table tbody td {
    padding: 10px; }
  table tbody td.positive {
    color: green; }
  table tbody td.negative {
    color: red; }
