.budget {
  color: black;
  display: block;
  float: left; }
  .budget h1 {
    width: 100%;
    float: left;
    height: fit-content;
    display: block; }
  .budget .money-left {
    color: var(--primary-dark);
    font-weight: bold;
    font-size: 5rem;
    float: left;
    width: 100%;
    height: fit-content; }

.dashboard-body > div {
  float: left;
  display: block; }

table {
  color: black !important;
  position: relative !important; }
  table thead {
    position: absolute;
    width: 100% !important;
    top: 0;
    left: 0; }
  table tbody {
    padding-top: 20px; }
