{%extends "sign_base.html"%} {%block head%}
<script defer src="/js/login.js"></script>
{%endblock%}{%block body%}
<div>
    <div class="user signinBx">
        <div class="imgBx"><img src="/assets/needToConfirm.svg" alt="need to confirm illustration" /></div>
        <div class="formBx">
            <form method="POST" spellcheck="false">
                <h2>Confirmation Required</h2>
                <p class="signup">Check your email for confirmation.</p>
            </form>
        </div>
    </div>
</div>
{%endblock%}
