{%extends "sign_base.html"%} {%block head%}
<script defer src="/js/password_reset.js"></script>
{%endblock%}{%block body%}
<div>
    <div class="user signinBx">
        <div class="imgBx"><img src="/assets/confirmation.svg" alt="login illustration" /></div>
        <div class="formBx">
            <form spellcheck="false" id="reset-form">
                <h2>Reset Password</h2>
                <label id="errorLine">&nbsp;</label>
                <input required type="password" name="password" placeholder="Enter new password..." />
                <input required type="password" name="confirm" placeholder="Confirm new password..." />
                <!-- <input required type="text" name="phone" placeholder="Phone number..." /> -->
                <div class="btnBx"><button name="submitBtn" class="btn btn-primary" type="submit">Reset</button></div>
            </form>
        </div>
    </div>
</div>
{%endblock%}
