{%extends "sign_base.html"%} {%block head%}
<script defer src="/js/password_reset.js"></script>
{%endblock%}{%block body%}
<div>
    <div class="user signinBx">
        <div class="imgBx"><img src="/assets/confirmation.svg" alt="login illustration" /></div>
        <div class="formBx">
            <form method="POST" spellcheck="false" id="recover-form">
                <h2>Recover password</h2>
                <label id="errorLine">&nbsp;</label>
                <input required type="email" name="email" placeholder="Enter your email..." />
                <input required type="text" name="username" placeholder="Enter your username..." />
                <!-- <input required type="text" name="phone" placeholder="Phone number..." /> -->
                <div class="btnBx"><button name="submitBtn" class="btn btn-primary" type="submit">Add Info</button></div>
            </form>
        </div>
    </div>
</div>
{%endblock%}
