{%extends "sign_base.html"%} {%block head%}
<link rel="stylesheet" href="/css/radiobtn.css" />
<script defer src="/js/signup.js"></script>
{%endblock%} {%block body%}
<div>
    <div class="user signupBx">
        <div class="formBx">
            <form id="signupForm" spellcheck="false" >
                <h2>Create Account</h2>
                <label id="errorLine">&nbsp;</label><input required="" type="email" name="email" placeholder="Email..." /><input
                    required
                    type="text"
                    name="username"
                    placeholder="Username..."
                />
                <input required type="password" name="password" placeholder="Password..." />
                <input required type="password" name="passwordConfirm" placeholder="Confirm Password..." />
                <div style="width: fit-content; margin-left: auto; margin-right: auto">
                    <label class="radiobtn-container col-md-6">
                        Personal
                        <input required type="radio" name="accountType" value="Personal" />
                        <span class="radiobtn-checkmark"></span>
                    </label>
                    <label class="radiobtn-container col-md-6">
                        Business
                        <input required type="radio" name="accountType" value="Business" />
                        <span class="radiobtn-checkmark"></span>
                    </label>
                </div>
                <div class="selects col-md-12 float-left">
                    <select required name="country" id="country">
                        <option value="" hidden>Select country:</option>
                        {%for country in countries%}
                        <option value="{{country}}">{{country}}</option>
                        {%endfor%}
                    </select>
                    <select disabled required name="cities" id="cities">
                        <option value="" hidden>Select city:</option>
                    </select>
                </div>
                <div class="btnBx"><button class="btn btn-primary">Sign Up</button></div>
                <p class="signup">Already have an account? <a href="/login">Log In</a></p>
                <p class="signup">Want to learn more about us? <a href="/">Home page</a></p>
            </form>
        </div>
        <div class="imgBx"><img src="/assets/signUpIllustration.svg" alt="personal illustration" /></div>
    </div>
</div>
{%endblock%}
