.chatbox {
  width: 100%;
  position: relative;
  overflow: hidden !important;
  height: calc(100% - 68px);
  border-radius: 20px;
  border: 5px solid var(--primary-dark);
  background-color: var(--primary-dark); }
  .chatbox .chat_body {
    height: calc(100% - 70px);
    width: 100%;
    background-color: white;
    border-radius: 20px 20px 0 0;
    padding: 10px;
    flex-grow: 1;
    width: 100%;
    overflow-y: scroll; }
    .chatbox .chat_body .chat_message_part {
      width: 100%;
      float: left;
      padding: 5px 0; }
      .chatbox .chat_body .chat_message_part .chat_message.me {
        position: relative;
        background-color: var(--primary-dark);
        padding: 5px 10px;
        float: right;
        border-radius: 10px 10px 0 10px;
        width: fit-content;
        min-width: 100px; }
        .chatbox .chat_body .chat_message_part .chat_message.me::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: calc(100% - 1px);
          z-index: 999999;
          width: 0;
          height: 0;
          border-bottom: 10px solid var(--primary-dark);
          border-right: 10px solid transparent; }
        .chatbox .chat_body .chat_message_part .chat_message.me * {
          color: white; }
        .chatbox .chat_body .chat_message_part .chat_message.me span {
          font-size: 11px; }
        .chatbox .chat_body .chat_message_part .chat_message.me p {
          font-size: 16px; }
      .chatbox .chat_body .chat_message_part .chat_message.you {
        position: relative;
        background-color: #ccc;
        padding: 5px 10px;
        float: left;
        border-radius: 10px 10px 10px 0px;
        width: fit-content;
        min-width: 150px; }
        .chatbox .chat_body .chat_message_part .chat_message.you::after {
          content: "";
          position: absolute;
          bottom: 0;
          right: calc(100% - 1px);
          z-index: 999999;
          width: 0;
          height: 0;
          border-bottom: 10px solid #ccc;
          border-left: 10px solid transparent; }
        .chatbox .chat_body .chat_message_part .chat_message.you * {
          color: black; }
        .chatbox .chat_body .chat_message_part .chat_message.you span {
          font-size: 11px; }
        .chatbox .chat_body .chat_message_part .chat_message.you p {
          font-size: 16px; }
  .chatbox .chat_inputs {
    width: 100% !important;
    background-color: var(--primary-dark);
    height: 60px;
    border-radius: 20px 20px 0px 0px;
    padding: 5px 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0 !important;
    flex-shrink: 0; }
    .chatbox .chat_inputs form {
      width: 100%; }
    .chatbox .chat_inputs input {
      width: 100% !important;
      padding: 10px;
      border-radius: 20px;
      border: none; }
