.budget {
  color: black;
  display: block;
  float: left; }
  .budget h1 {
    width: 100%;
    float: left;
    height: fit-content;
    display: block; }
  .budget .money-left {
    color: var(--primary-dark);
    font-weight: bold;
    font-size: 5rem;
    float: left;
    width: 100%;
    height: fit-content; }

.list-of-payments {
  color: black;
  float: left;
  display: block;
  overflow: scroll;
  height: 100% !important; }
  .list-of-payments .transactions {
    float: left;
    border-collapse: collapse;
    width: 100%; }
    .list-of-payments .transactions tr:nth-child(even) {
      background-color: #ccc; }
    .list-of-payments .transactions th,
    .list-of-payments .transactions td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd; }
    .list-of-payments .transactions td.positive {
      color: green !important; }
    .list-of-payments .transactions td.negative {
      color: red !important; }

.dashboard-body > div {
  float: left;
  display: block; }
