{%extends "admin/database/update/update_base.html"%} {%block updateForm%}
<div class="form-group">
    <label for="name">username</label>
    <input required type="text" class="form-control" name="name" id="name" value="{{updateData.username}}"/>
</div>
<div class="form-group">
    <label for="name">email</label>
    <input required type="email" class="form-control" name="name" id="name" value="{{updateData.email}}"/>
</div>
<div class="form-group">
    <label for="name">permission</label>
    <input required type="text" class="form-control" name="name" id="name" value="{{updateData.permission}}"/>
</div>
<div class="form-group">
    <label for="name">fullName</label>
    <input required type="text" class="form-control" name="name" id="name" value="{{updateData.fullName}}"/>
</div>
<div class="form-group">
    <label for="name">address</label>
    <input required type="text" class="form-control" name="name" id="name" value="{{updateData.address}}"/>
</div>
<div class="form-group">
    <label for="name">phone</label>
    <input required type="text" class="form-control" name="name" id="name" value="{{updateData.phone}}"/>
</div>
<div class="form-group">
    <label for="name">country</label>
    <input required type="text" class="form-control" name="name" id="name" value="{{updateData.country}}"/>
</div>
<div class="form-group">
    <label for="name">city</label>
    <input required type="text" class="form-control" name="name" id="name" value="{{updateData.city}}"/>
</div>
<div class="form-group">
    <label for="name">brandLogoPath</label>
    <input required type="text" class="form-control" name="name" id="name" value="{{updateData.brandLogoPath}}"/>
</div>
<div class="form-group">
    <label for="name">brandName</label>
    <input required type="text" class="form-control" name="name" id="name" value="{{updateData.brandName}}"/>
</div>
<div class="form-group">
    <label for="name">active</label>
    <input required type="text" class="form-control" name="name" id="name" value="{{updateData.active}}"/>
</div>
<div class="form-group">
    <label for="name">confirmationKey</label>
    <input required type="text" class="form-control" name="name" id="name" value="{{updateData.confirmationKey}}"/>
</div>
<div class="form-group">
    <label for="name">confirmed</label>
    <input required type="text" class="form-control" name="name" id="name" value="{{updateData.confirmed}}"/>
</div>
{%endblock%} {%block scriptForUpdateForm%}
<script>
    var getUrl = location.pathname
    console.log(getUrl)
    document.querySelector("#updateForm").addEventListener("submit", (e) => {
        e.preventDefault();
        fetch(getUrl+'?id='+e.target.getAttribute('data-id'), {
            method: "PATCH",
            body: new FormData(e.target),
        })
            .then((res) => res.json())
            .then((data) => {
                if (data.success) window.open(getUrl,'_self');
                else {
                    alert(data.error);
                }
            });
    });
</script>
{%endblock%}
