{%extends "personal/dashboard_base.html"%} {%block head%}
<link rel="stylesheet" href="/css/dashboard/chat.css" />
<link rel="stylesheet" href="/css/dashboard/messages.css" />
<script defer src="/js/dashboard/personal/chat.js"></script>
{%endblock%} {%block body%}
<div class="inbox">
    <div class="inbox__main">
        <h1>Order</h1>
        <div class="chatbox">
            <div class="chat_body">
                {%for message in messages%}
                <div class="chat_message_part">
                    <div class="chat_message {{message.type}}">
                        <div>
                            <p>{{message.message}}</p>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
            <div class="chat_inputs">
                <form autocomplete="off">
                    <input spellcheck="false" type="text" name="message" placeholder="Enter your message..." />
                </form>
            </div>
        </div>
    </div>
</div>
{%endblock%}