{%extends "personal/dashboard_base.html"%} {%block head%}
<link rel="stylesheet" href="/css/dashboard/personal/wallet.css" />
<link rel="stylesheet" href="/template/plugins/sweet-alert2/sweetalert2.min.css" />
<script src="/template/plugins/sweet-alert2/sweetalert2.min.js"></script>
<link rel="stylesheet" href="/bundles/template_database_plugin_bundle.css" />
<script defer src="/template/plugins/datatables/jquery.dataTables.min.js"></script>
<script defer src="/template/plugins/datatables/dataTables.bootstrap4.min.js"></script>
<script defer src="//cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.js"></script>
<script defer src="/js/dashboard/personal/wallet.js"></script>
{%endblock%} {%block body%}
<div class="col-md-12">
    <table id="transactions-table" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%">
        <thead>
            <tr>
                <th>#</th>
                <th>Company</th>
                <th>Message</th>
                <th>Product</th>
                <th>Done</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {%for i in orders%}
            <tr>
                <td>{{i.id}}</td>
                <td>{{i.orderedTo}}</td>
                <td>{{i.orderText}}</td>
                <td>{{i.orderedProduct}}</td>
                <td>
                    {%if i.done%}
                    <span class="badge badge-soft-success">Done</span>
                    {%else%}
                    <span class="badge badge-soft-danger">Not done</span>
                    {%endif%}
                </td>
                <td>{{i.createdAt.strftime('%d %b. %Y %H:%M')}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
<script type="text/html" id="coupon-code-template">
    <form id="apply-coupon-code">
        <input name="code" type="text" class="form-control mb-4" placeholder="Enter Coupon Code..." />
        <button name="subBtn" type="submit" class="btn btn-primary">Apply</button>
    </form>
</script>
<script type="text/html" id="send-money-template">
    <form id="send-money-form">
        <input name="receiver" type="text" class="form-control mb-4" placeholder="Username of receiver..." />
        <input name="amount" type="number" class="form-control mb-4" placeholder="Amount of money..." step=".01" min="0.01" />
        <button name="subBtn" type="submit" class="btn btn-primary">Send</button>
    </form>
</script>
<script defer>
    $(document).ready(function () {
        $("#transactions-table").DataTable({
            responsive: true,
            order: []
        });
    });
</script>
{%endblock%}
