{%extends "personal/dashboard_base.html"%} {%block head%}
<link rel="stylesheet" href="/css/dashboard/personal/wallet.css" />
<link rel="stylesheet" href="/template/plugins/sweet-alert2/sweetalert2.min.css" />
<script src="/template/plugins/sweet-alert2/sweetalert2.min.js"></script>
<link rel="stylesheet" href="/bundles/template_database_plugin_bundle.css">
<script defer src="/template/plugins/datatables/jquery.dataTables.min.js"></script>
<script defer src="/template/plugins/datatables/dataTables.bootstrap4.min.js"></script>
<script defer src="//cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.js"></script>
<script defer src="/js/dashboard/personal/wallet.js"></script>
{%endblock%} {%block body%} {%if wallet%}
<div class="col-md-12 budget">
    <h4 class="text-muted col-md-12 text-center mb-4">Wallet ID: {{wallet.id}}</h4>
    <div class="bank mb-4">
        <h2 class="">Your Balance:</h2>
        <h2 class="money-left">${{'{0:.2f}'.format(wallet.balance)}}</h2>
    </div>
    <div class="btns">
        <button class="btn btn-secondary" id="send-money-btn">Send money</button>
        <button class="btn btn-primary" id="add-balance-btn">Add balance</button>
    </div>
</div>
<div class="col-md-12">
    <table id="transactions-table" class="table table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0;width:100%;">
        <thead>
            <tr>
                <th>#</th>
                <th>Account</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {%for payment in payments%}
            <tr>
                <td>{{payment["id"]}}</td>
                <td>{{payment["account"]}}</td>
                {%if payment['amount']>0%}
                <td class="positive">+{{payment["amount"]}}$</td>
                {%else%}
                <td class="negative">{{payment["amount"]}}$</td>
                {%endif%}
                <td>{{payment["date"]}}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div>
<script type="text/html" id="coupon-code-template">
    <form id="apply-coupon-code">
        <input name="code" type="text" class="form-control mb-4" placeholder="Enter Coupon Code..." />
        <button name="subBtn" type="submit" class="btn btn-primary">Apply</button>
    </form>
</script>
<script type="text/html" id="send-money-template">
    <form id="send-money-form">
        <input name="receiver" type="text" class="form-control mb-4" placeholder="Username of receiver..." />
        <input name="amount" type="number" class="form-control mb-4" placeholder="Amount of money..." step=".01" min="0.01"/>
        <button name="subBtn" type="submit" class="btn btn-primary">Send</button>
    </form>
</script>
<script defer>
    $(document).ready(function () {
        $("#transactions-table").DataTable({
            responsive:true
        });
    });
</script>
{%else%}
<div class="col-md-12 create-wallet">
    <h2 class="mt-4 mb-2">Pay and Receive with</h2>
    <h1 class="mb-4">Kritibuy Wallet</h1>
    <a class="mt-4 mb-4 btn btn-primary" href="/dashboard/personal/wallet/create">Create Wallet Now</a>
</div>
{%endif%} {%endblock%}
