{%extends "personal/dashboard_base.html"%} {%block head%}
<link rel="stylesheet" href="/css/dashboard/personal/wallet.css" />
{%endblock%} {%block body%}
<div class="col-md-12 budget">
    <h2 class="col-md-12 text-center mb-4">Wallet ID: {{wallet_id}}</h2>
    <div class="bank mb-4">
        <h2 class="">Your Bank:</h2>
        <h2 class="money-left">$80.00</h2>
    </div>
    <button class="btn btn-primary mb-4">Add balance</button>
</div>
<div class="col-md-12">
    <table class="col-md-12">
        <thead>
            <tr>
                <th>Account</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Domino's Pizza</td>
                <td class="positive">+10$</td>
            </tr>
            <tr>
                <td>Domino's Pizza</td>
                <td class="negative">-10$</td>
            </tr>
            <tr>
                <td>Domino's Pizza</td>
                <td class="positive">+10$</td>
            </tr>
            <tr>
                <td>Domino's Pizza</td>
                <td class="positive">+10$</td>
            </tr>
            <tr>
                <td>Domino's Pizza</td>
                <td class="negative">-10$</td>
            </tr>
            <tr>
                <td>Domino's Pizza</td>
                <td class="positive">+10$</td>
            </tr>
            <tr>
                <td>Domino's Pizza</td>
                <td class="negative">-10$</td>
            </tr>
            <tr>
                <td>Domino's Pizza</td>
                <td class="positive">+10$</td>
            </tr>
            <tr>
                <td>Domino's Pizza</td>
                <td class="positive">+10$</td>
            </tr>
            <tr>
                <td>Domino's Pizza</td>
                <td class="negative">-10$</td>
            </tr>
            <tr>
                <td>Domino's Pizza</td>
                <td class="positive">+10$</td>
            </tr>
            <tr>
                <td>Domino's Pizza</td>
                <td class="negative">-10$</td>
            </tr>
            <tr>
                <td>Domino's Pizza</td>
                <td class="positive">+10$</td>
            </tr>
            <tr>
                <td>Domino's Pizza</td>
                <td class="positive">+10$</td>
            </tr>
            <tr>
                <td>Domino's Pizza</td>
                <td class="negative">-10$</td>
            </tr>
        </tbody>
    </table>
</div>
{%endblock%}
