.bootstrap-tagsinput {
  width: 100%;
  display: block; }
  .bootstrap-tagsinput input {
    display: inline-block;
    padding: 5px;
    margin: 5px;
    margin-left: 0;
    margin-top: 0;
    border-radius: 10px; }
  .bootstrap-tagsinput .tag {
    display: inline-block;
    background-color: var(--primary-color);
    padding: 5px;
    margin: 5px;
    margin-left: 0;
    margin-top: 0;
    border-radius: 10px; }
